<ion-view view-title="Trivia">
  <ion-content class="padding">
    <ion-list>
    <h1 class="p" style=" font-size:35px;">{{pregElegida.Pregunta}}</h1><br>



    <button id="op1"  ng-click="Deshabilitar();Validar(pregElegida.opciones.op1)" ng-model="OP1" class="button button-large  button-calm"  ng-disabled="Desh">{{pregElegida.opciones.op1}}</button><br><br>
    <button id="op2" ng-click="Deshabilitar();Validar(pregElegida.opciones.op2)" class="button button-large  button-calm" ng-disabled="Desh">{{pregElegida.opciones.op2}}</button><br><br>
    <button id="op3" ng-click="Deshabilitar();Validar(pregElegida.opciones.op3)" class="button button-large  button-calm" ng-disabled="Desh">{{pregElegida.opciones.op3}}</button><br><br>

    <button class="button button-large button-dark" ng-click="siguientePregunta()" ng-if="Desh">Siguiente</button>
    </ion-list>
  </ion-content>
</ion-view>
